<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{header::menu}"></div>
<div class="container m-5">
    <div th:if="${saved==true}">SAVED!</div>
    <div th:with="isAdmin = ${#request.isUserInRole('ADMIN')}">
        <!--        <form th:object="${user}" th:method="post"  th:action="@{/admin}">-->
        <form th:object="${user}" th:method="post" th:action="${isAdmin} ? @{/admin} : @{/save}">
            <label for="fname">Full name:</label>
            <input class="form-control" id="fname" name="fullname" type="text" th:field="*{fullName}">
            <label for="id">ID</label>
            <input id="id" name="id" type="text" th:field="*{id}" readonly class="form-control">
            <label for="login">Login:</label>
            <input id="login" name="login" type="text" th:field="*{login}" readonly class="form-control">
            <label for="age">Age:</label>
            <input id="age" name="age" type="number" th:field="*{age}" class="form-control">
            <label for="sex">Sex:</label>

            <div class="form-group">
                <div th:each="sx : ${T(com.jm.genich.bootfirst.models.Sex).values()}">
                    <input id="sex" required type="radio" th:text="${sx}" th:name="sex" th:value="${sx}"
                           th:field="*{sex}">
                </div>
            </div>
            <div th:if="${isAdmin}">
                <label for="roles">Roles:</label>
                <ul id="roles">
                    <li th:each="role : ${role.allRoles}">
                        <input type="checkbox" th:text="${role.toString()}"
                               th:checked="${#lists.contains(stringRoleList, role)}"
                               th:name="roles" th:value="${role}">
                    </li>
                </ul>
            </div>

            <div th:unless="${isAdmin}">
                <input type="hidden" th:name="roles" th:field="${user.roles}">
            </div>
            <input name="password" type="hidden" th:name="password" th:value="*{password}">
            <input class="btn btn-primary" type="submit" value="Save">
        </form>
    </div>
</div>
</body>
</html>